
<%= form_with model: @top, local: true  do |f| %>
    <p>Type <%= f.text_field :type %></p>
    <p>Color <%= f.text_field :color%></p>

    <div>
        <%= f.radio_button(:sex, "f") %> Female
        <%= f.radio_button(:sex, "m") %> Male
    </div> 

    <div>
        <%= f.check_box :isCasual, :as => :boolean%>　Casual
        <%= f.check_box :isBC, :as => :boolean%>　Business Casual
        <%= f.check_box :isBusiness, :as => :boolean%>　Business
    </div>

    <div>
        <%= f.check_box :isSpring, :as => :boolean%> Spring
        <%= f.check_box :isSummer, :as => :boolean%> Summer
        <%= f.check_box :isFall, :as => :boolean%> Fall
        <%= f.check_box :isWinter, :as => :boolean%> Winter
    </div>

    <%= f.file_field :image %><br>
    <%= f.submit %>

<% end %>