<table>
    <tr>
        <th>ID</th>
        <th>IMAGE</th>
        <th>SEX</th>
        <th>TYPE</th>
        <th>COLOR</th>
        <th>STYLE</th>
        <th>SEASON</th>
        <th>EDIT</th>
    </tr>
    <% @tops.each do |t| %>
        <td><%= c.id%></td>
        <td><%= image_tag c.image, :size => '200x200' %></td>
        <td><%= c.sex %>
        <td><%= c.type %>
        <td><%= c.color %>
        <td>
            <% if c.isCasual %><%= casual %><br><% end %>
            <% if c.isBC %><%= business casual %><br><% end %>
            <% if c.isBusiness %><%= formal %><br><% end %>
        </td>
    <% end %>
</table>