<%= form_with model: @clothe, local: true  do |form| %>
    <p>タイプ</p>
    <%= form.text_field :type %><br>
    <p>色</p>
    <%= form.text_field :color%><br>
    <%= form.file_field :image %><br>
    <%= form.submit %>
  <% end %>