<%= link_to '新規追加', controller: 'patterns', action: 'new' %>

<p>sex: <%= @pattern.sex %></p>
<p>style: <%= @pattern.style %></p>

<p>color1: <%= @pattern.color1 %> type1: <%= @pattern.type1 %></p>
<p>color2: <%= @pattern.color2 %> type2: <%= @pattern.type2 %></p>
<p>color3: <%= @pattern.color3 %> type3: <%= @pattern.type3 %></p>
<p>color4: <%= @pattern.color4 %> type4: <%= @pattern.type4 %></p>

<p>
<% if @pattern.images.attached? %>
  <% @pattern.images.each do |image| %>
    <%= image_tag image, :size=>"200x250" %>
  <% end %>
<% end %>
</p>